RewriteEngine on
RewriteRule ^authorize$ examples/pdo/authorize.php [QSA,L]
RewriteRule ^token$ examples/pdo/token.php [QSA,L]
RewriteRule ^protected_resource$ examples/pdo/protected_resource.php [QSA,L]